.panel{class: pull_state_panel(pull.state)}
  .panel-heading
    %h3.panel-title=link_to "##{pull.number} (#{pull.state}) - #{l pull.last_update, format: :short}", pull.url, title: 'View on github'
  .panel-body
    .pull-right
      =link_to "comments (#{pull.comments.count})", '#', class: 'toggle_comments', id: pull.id
    =pull.title
    .comments{id: "comments_#{pull.id}", :style=>"display:none;"}
      =render 'pull_request_comments', comments: pull.comments
