%h1 Listing organizations

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @organizations.each do |organization|
    %tr
      %td= organization.name
      %td= link_to t('links.show'), organization
      %td= link_to t('links.edit'), edit_organization_path(organization)
      %td= link_to t('links.destroy'), organization, method: :delete, data: { confirm: t('confirmations.are_you_sure') }

%br

= link_to t('links.new_organization'), new_organization_path
